.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 20px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  gap: 10px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.right-links {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}